Intel_Demo/Intel_Demo/Connected Services/RocketService/RocketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RocketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRocketService_increaseAltitude_InputMessage">
    <wsdl:part name="parameters" element="tns:increaseAltitude" />
  </wsdl:message>
  <wsdl:message name="IRocketService_increaseAltitude_OutputMessage">
    <wsdl:part name="parameters" element="tns:increaseAltitudeResponse" />
  </wsdl:message>
  <wsdl:message name="IRocketService_GetTelemetryData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTelemetryData" />
  </wsdl:message>
  <wsdl:message name="IRocketService_GetTelemetryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTelemetryDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IRocketService">
    <wsdl:operation name="increaseAltitude">
      <wsdl:input wsaw:Action="http://tempuri.org/IRocketService/increaseAltitude" message="tns:IRocketService_increaseAltitude_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRocketService/increaseAltitudeResponse" message="tns:IRocketService_increaseAltitude_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTelemetryData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRocketService/GetTelemetryData" message="tns:IRocketService_GetTelemetryData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRocketService/GetTelemetryDataResponse" message="tns:IRocketService_GetTelemetryData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRocketService" type="tns:IRocketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="increaseAltitude">
      <soap:operation soapAction="http://tempuri.org/IRocketService/increaseAltitude" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTelemetryData">
      <soap:operation soapAction="http://tempuri.org/IRocketService/GetTelemetryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RocketService">
    <wsdl:port name="BasicHttpBinding_IRocketService" binding="tns:BasicHttpBinding_IRocketService">
      <soap:address location="http://localhost:8080/RocketService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>