Intel_Demo/Intel_Demo/Connected Services/PayloadService/PayloadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PayloadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8008/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8008/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8008/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPayloadService_GetPayloadData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayloadData" />
  </wsdl:message>
  <wsdl:message name="IPayloadService_GetPayloadData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPayloadDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPayloadService_GetPayloadTelemetryData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayloadTelemetryData" />
  </wsdl:message>
  <wsdl:message name="IPayloadService_GetPayloadTelemetryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPayloadTelemetryDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IPayloadService">
    <wsdl:operation name="GetPayloadData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayloadService/GetPayloadData" message="tns:IPayloadService_GetPayloadData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayloadService/GetPayloadDataResponse" message="tns:IPayloadService_GetPayloadData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPayloadTelemetryData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayloadService/GetPayloadTelemetryData" message="tns:IPayloadService_GetPayloadTelemetryData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayloadService/GetPayloadTelemetryDataResponse" message="tns:IPayloadService_GetPayloadTelemetryData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPayloadService" type="tns:IPayloadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPayloadData">
      <soap:operation soapAction="http://tempuri.org/IPayloadService/GetPayloadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayloadTelemetryData">
      <soap:operation soapAction="http://tempuri.org/IPayloadService/GetPayloadTelemetryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayloadService">
    <wsdl:port name="BasicHttpBinding_IPayloadService" binding="tns:BasicHttpBinding_IPayloadService">
      <soap:address location="http://localhost:8008/PayloadService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>